<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="Nexus" value="https://192.168.232.129:8081/repository/nuget-hosted/" />
	</packageSources>
	<packageSourceCredentials>
		<Nexus>
			<add key="Username" value="admin" />
			<add key="ClearTextPassword" value="nexus" />
		</Nexus>
	</packageSourceCredentials>
</configuration>
